<footer class="bg-black-80">
      <div class="bg-black-10 white pvxl phm phl-m phxl-l">
        <p class="mvn">
            <h1 class="f4 f2-ns semibold ttu tracked lh-title">Localização e atendimento</h1>
          Rua Cristina Bartetta Tuoto, 158 - CIC - Curitiba - Paraná<BR>
          Fone: (41) 3042-2172<BR>
          Email: amacoc@amacoc.org.br - amacoc2@gmail.com
         </p>
              <br>
              <small class="prs">AMACOCII</small>
              <small>By @marloncabrera</small>
      </footer>
  </body>
</html>