<body class="wi-100 sans-serif">
    <header style="background-image: url(/img/1.jpg); background-position: bottom center;" class="h-100 dt bg-cv">
      <div  class="dtc v-mid  bg-black-10 white-80 tl tc-ns phm">
       <h1 class="tc white-60 mvn lh-solid" style="font-size: 1.5rem; font-size: 16vw;">
       <span>A</span><span style="letter-spacing: .025em;">M</span><span style="letter-spacing: -.03em;">A</span><span >C</span><span >O</span><span >C</span><span >I</span><span >I</span>
       </h1>
       <h2 class="book tc f4 f3-ns white-60 ttu tracked mtn mbxl">Associação de Moradores do Conjunto Oswaldo Cruz II</h2>
        <a href="index.html" class="f5 f4-ns dim dib mtl br2 bg-white-10 ba b--white-40 white-80 link pam">IN&Iacute;CIO</a>
        <a href="atividades.html" class="f5 f4-ns dim dib mtl br2 bg-white-10 ba b--white-40 white-80 link pam">ATIVIDADES</a>
        <a href="historico.html" class="f5 f4-ns dim dib mtl br2 bg-white-10 ba b--white-40 white-80 link pam">HIST&Oacute;RICO</a>
        <a href="projetos.html" class="f5 f4-ns dim dib mtl br2 bg-white-10 ba b--white-40 white-80 link pam">PROJETOS</a>
     </div>
    </header>