
  {% include head.html %}

<body class="wi-100 sans-serif">
    <header class="h-100 dt bg-cv">
      <div  class="dtc v-mid  bg-blue white-80 tl tc-ns phm">
       <h1 class="f3 f1-m mega-l ttu tracked-mega mbm mtn semibold">AMACOCII</h1>
       <h2 class="f4 f3-ns book mbm mtn">Associação de Moradores do Conjunto Oswaldo Cruz II</h2>
       <a href="#" class="f5 f4-ns dim dib mtl br2 bg-white-10 ba b--white-40 white-80 link pam">HIST&Oacute;RICO</a>
       <a href="/" class="f5 f4-ns dim dib mtl br2 bg-white-10 ba b--white-40 white-80 link pam">IN&Iacute;CIO</a>
       <a href="/about" class="f5 f4-ns dim dib mtl br2 bg-white-10 ba b--white-40 white-80 link pam">PROJETOS</a>
     </div>
    </header>

      <main>
        {{ content }}
      </main>
    
    {% include footer.html %}